*{
    margin: 0px;
    padding: 0px;
}

body{display: flex;
    float: left;
}

aside{
    padding: 20px;
    margin: 20px;
    width: 300px;
    background-color: lightgray;
}

.Presentación{
    padding: 30px 30px;
    margin: 20px 20px;
    width: 650px;
    height: 100px;
    background-color: lavenderblush;
    text-align: center;
}

.Información{
    padding: 20px;
    margin: 20px;
    width: 650px;
    background-color: peachpuff;
}

img{
    padding: 20px;
    width: 250px;
    height: 250px;
}

article{
    padding: 20px;
    margin: 20px;
}



