*{
    margin: 0px;
    padding: 0px;
    outline: 1px red auto;
}

body{
    margin: 30px auto;
    width: 80%;
    display: flex;
    font-family: Century Gothic, 'Times New Roman', Times, serif;

}

.Extras{
    padding: 20px;
    margin: 20px;
    width: 30%;
    background-color: lightgray;
}

.Presentación{
    padding: 30px;
    width: 85%;
    margin: 30px;
    height: 100px;
    background-color: lavenderblush;
    text-align: center;
}

.Información{
    padding: 30px;
    margin: 30px;
    width: 85%;
    background-color: peachpuff;
}

img{
    padding: 20px;
    width: 250px;
    height: 250px;
}

article{
    padding: 20px;
    margin: 20px;
}



